[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
matplotlib = "*"
opencv-python = "==4.2.0"
pyautogui = "*"
tensorflow-gpu = "==2.12.0"
keras = "==2.2.4"
imgaug = "==0.2.6"
seaborn = "*"
pandas = "*"

[requires]
python_version = "3.7"
